{% load static %}

<footer>
         <div class="footer">
            <div class="container">
               <div class="row border_bo1 ">
                  <div class="col-md-4">
                     <a class="logof" href="index.html"><img src="{% static 'guest/guesthome/images/logo.png' %}" alt="#"/></a>
                     <form class="form_subscri">
                        <div class="row">
                           <div class="col-md-12">
                              <h3>Subscribe Now</h3>
                           </div>
                           <div class="col-md-12">
                              <input class="subsrib" placeholder="Enter your email" type="text" name="Enter your email">
                           </div>
                           <div class="col-md-12">
                              <button class="subsci_btn">subscribe</button>
                           </div>
                        </div>
                     </form>
                  </div>
                  <div class="col-lg-2 col-md-4 col-sm-6">
                     <div class="infoma">
                        <h3>Information</h3>
                        <ul>
                           <li>There are many </li>
                           <li>variations of pas</li>
                           <li>sages of Lorem  </li>
                           <li>psum available,  </li>
                           <li>but the majority  </li>
                           <li>have suffered  </li>
                        </ul>
                     </div>
                  </div>
                  <div class="col-lg-2 col-md-4 col-sm-6">
                     <div class="infoma">
                        <h3>Helpful Links</h3>
                        <ul>
                           <li>There are many </li>
                           <li>variations of pas</li>
                           <li>sages of Lorem  </li>
                           <li>psum available,  </li>
                           <li>but the majority  </li>
                        </ul>
                     </div>
                  </div>
                  <div class="col-lg-2 col-md-4 col-sm-6">
                     <div class="infoma">
                        <h3>Our Weddings</h3>
                        <ul>
                           <li>There are many </li>
                           <li>variations of pas</li>
                           <li>sages of Lorem  </li>
                           <li>psum available,  </li>
                           <li>but the majority  </li>
                        </ul>
                     </div>
                  </div>
                  <div class="col-lg-2 col-md-4 col-sm-6">
                     <div class="infoma">
                        <h3>Contact Us</h3>
                        <ul class="conta">
                           <li><i class="fa fa-map-marker" aria-hidden="true"></i>Locations
                           </li>
                           <li><i class="fa fa-volume-control-phone" aria-hidden="true"></i>+71 12345678901</li>
                           <li> <i class="fa fa-envelope" aria-hidden="true"></i><a href="Javascript:void(0)"> demo@gmail.com</a></li>
                        </ul>
                        <ul class="social_icon">
                           <li><a href="Javascript:void(0)"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                           <li><a href="Javascript:void(0)"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                           <li><a href="Javascript:void(0)"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a></li>
                           <li><a href="Javascript:void(0)"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                        </ul>
                     </div>
                  </div>
               </div>
            </div>
            <div class="copyright">
               <div class="container">
                  <div class="row">
                     <div class="col-md-12">
                        <p>© 2020 All Rights Reserved. <a href="https://html.design/"> Free html Templates</a></p>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </footer>
