{% load static %}
<!-- Jquery Core Js -->
    <!-- Jquery Core Js -->
    <script src="{% static 'Service/plugins/jquery/jquery.min.js' %}"></script>

    <!-- Bootstrap Core Js -->
    <script src="{% static 'Service/plugins/bootstrap/js/bootstrap.js' %}"></script>

    <!-- Select Plugin Js -->
<!--    <script src="{% static 'Service/plugins/bootstrap-select/js/bootstrap-select.js' %}"></script>-->

    <!-- Slimscroll Plugin Js -->
    <script src="{% static 'Service/plugins/jquery-slimscroll/jquery.slimscroll.js' %}"></script>

    <!-- Waves Effect Plugin Js -->
    <script src="{% static 'Service/plugins/node-waves/waves.js' %}"></script>

    <!-- Jquery CountTo Plugin Js -->
    <script src="{% static 'Service/plugins/jquery-countto/jquery.countTo.js' %}"></script>

    <!-- Morris Plugin Js -->
    <script src="{% static 'Service/plugins/raphael/raphael.min.js' %}"></script>
    <script src="{% static 'Service/plugins/morrisjs/morris.js' %}"></script>

    <!-- ChartJs -->
    <script src="{% static 'Service/plugins/chartjs/Chart.bundle.js' %}"></script>

    <!-- Flot Charts Plugin Js -->
    <script src="{% static 'Service/plugins/flot-charts/jquery.flot.js' %}"></script>
    <script src="{% static 'Service/plugins/flot-charts/jquery.flot.resize.js' %}"></script>
    <script src="{% static 'Service/plugins/flot-charts/jquery.flot.pie.js' %}"></script>
    <script src="{% static 'Service/plugins/flot-charts/jquery.flot.categories.js' %}"></script>
    <script src="{% static 'Service/plugins/flot-charts/jquery.flot.time.js' %}"></script>

    <!-- Sparkline Chart Plugin Js -->
    <script src="{% static 'Service/plugins/jquery-sparkline/jquery.sparkline.js' %}"></script>

    <!-- Custom Js -->
    <script src="{% static 'Service/js/admin.js' %}"></script>
    <script src="{% static 'Service/js/pages/index.js' %}"></script>

    <!-- Demo Js -->
    <script src="{% static 'Service/js/demo.js' %}"></script>
</body>

</html>