{% load static %}

{% include 'Service/header.html'%}
<script src="{% static 'Admin/jquery.min.js' %}" xmlns="http://www.w3.org/1999/html"></script>
<script>
    $(document).ready(function () {
    //alert("a")
    $.ajaxSetup({
        headers: {
            "X-CSRFToken": '{{ csrf_token }}'
        }
    });

    $('#categoryname').change(function () {
        var did = $(this).val();
        $.ajax({

            type: "POST",
            url: '{% url "fillcategory" %}',
            data: { did: did },
            dataType: "json",
            success: function (data) {

                $('#subcategory').empty();
                var opt = $('<option />'); // here we're creating a new select option with for each city
                 opt.val(0);
                 opt.text('--Select--');
                  $('#subcategory').append(opt);

               $.each(data, function(key, val)
                {
                                var opt = $('<option />'); // here we're creating a new select option with for each city
                                opt.val(val.subcatid);
                                opt.text(val.subcatname);
                                $('#subcategory').append(opt); //here we will append these new select options to a dropdown with the id 'cities'
                });
            }
        });
    });
});
</script>
<br>
<br>
<br>
<br>

<div style="margin-left:300px; margin-right:30px;" >
<div class="row clearfix">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="card">
                        <div class="header">
                            <h2>
                                SERVICES VIEWS
                            </h2>
                        </div>
                        <br>
                        <div class="col-sm-6">
                                        <label>Choose Category</label>
                                        <select class="form-control show-tick" name="categoryname" id="categoryname">
                                            <option value="">-- Please select --</option>
                                            {% for c in category %}
                                            <option value="{{c.categoryid}}">{{c.categoryname}}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                    <div class="col-sm-6">
                                        <label>Choose Subcategory</label>

                                        <select class="form-control show-tick" name="subcategory" id="subcategory">
                                            <option value="">-- Please select --</option>

                                        </select>
                                    </div>
                        <br><br><br><br>
                        <div class="body table-responsive">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>Sl.No.</th>
                                        <th>AGENCY NAME</th>
                                        <th>SERVICE</th>
                                        <th>DESC</th>
                                        <th>RATE</th>
                                        <th>LOCATION</th>
                                        <th>IMAGE</th>
                                        <th>EDIT</th>
                                        <th>DELETE</th>

                                    </tr>
                                </thead>
                                <tbody>
                                {% for v in services %}
                                    <tr>
                                        <th scope="row">{{forloop.counter}}</th>
                                        <td>{{v.providerid.servicename}}</td>
                                        <td>{{v.servicename}}</td>
                                        <td>{{v.desc}}</td>
                                        <td>{{v.rate}}</td>
                                        <td>{{v.locationid.locationname}}</td>
                                        <td><img  src="/images/{{v.image}}" style="width:100px;height:110px" ></td>
                                        <td><button class="btn btn-success">Edit</button></a></td>
                                        <td><button class="btn btn-danger">Delete</button></a></td>


                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
    </div>
{% include 'Service/footer.html'%}